old*
*.ipynb_check*
.nextflow*
vers
pod.yaml
dock.sh
z
*_pycache_*
SPARCED/*xlsx
cleanH
work/
ToDo*
Demo/SPARCED/build/*
Demo/SPARCED/SPARCED.egg-info/*
Demo/SPARCED/SPARCED
docs/*.md

# Generated plots from sensitivity analysis
examples/*.png

# Ignore .env file containing sensitive information
.env